.btn-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;

    button {
        display: flex;
        align-items: center;
        gap: .75rem;

        border: none;

        height: 48px;

        cursor: pointer;

        color: var(--text-heading);
        font: var(--body-sm);
        font-weight: 600;

        background-color: var(--brand-dark);
        border-radius: .5rem;
        padding: 4px 20px;

        img {
            width: 1.25rem;
        }

        &:hover {
            background-color: var(--brand-mid);

            transition: all .2s ease-in-out;
        }
    }
}