.contact {
    margin-top: 50px;
    width: 100%;

    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

hr {
    margin: 48px 0 40px 0;
}