* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-md: 1.75rem "Baloo 2", sans-serif;
    --heading-sm: 1.125rem "Baloo 2", sans-serif;

    --body-md: 1rem "Open Sans", sans-serif;
    --body-sm: 0.875rem "Open Sans", sans-serif;
    --body-xs: 0.75rem "Open Sans", sans-serif;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --feedback: #ff5959;

    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    --shape-bg: #131516;
    --shabe-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

}

body {
    margin: 20px;
    background: var(--shape-bg);
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
}

.fixed-menu {
    overflow: hidden;

    background-image: url(../assets/images/Background.png);
    background-position: center;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;

    border-radius: 0.75rem;
    min-height: 728px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    border-radius: 0.75rem;

    .icone__logo {
        width: 45.85px;
    }

    .nome__logo  {
        width: 140px;
    }

    p {
        font: var(--body-md);
        font-weight: lighter;
        color: var(--text-heading);
    }
}

main {
    background-color: var(--shabe-body);
    border-radius: 0.75rem;

    overflow: auto;

    padding: 80px 130px;

    h1 {
        font: var(--heading-md);
        font-weight: 700;
        color: var(--text-heading);

        margin-bottom: 40px;
    }
}